<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handstandsam.shoppingapp">

    <application
        android:name="com.handstandsam.shoppingapp.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.handstandsam.shoppingapp.features.login.LoginActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.handstandsam.shoppingapp.features.home.HomeActivity"
            android:launchMode="singleTask" />

        <activity android:name=".compose.ComposeActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>

        <activity
            android:name="com.handstandsam.shoppingapp.features.category.CategoryActivity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.handstandsam.shoppingapp.features.itemdetail.ItemDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.handstandsam.shoppingapp.features.checkout.CheckoutActivity"
            android:launchMode="singleTask" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>