<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.handstandsam.maintainableespresso">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:label="@string/debug_app_name"
        tools:replace="android:label">
        <activity
            android:name="com.handstandsam.maintainableespresso.DebugActivity"
            android:icon="@drawable/magnifying_glass"
            android:label="My Debug Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>